# File to automatically label pull requests
# See https://github.com/actions/labeler

rawhide:
- any:
  - changed-files:
    - any-glob-to-any-file: ['**']
- base_branch: master
{% for branch in supported_branches %}

{$ branch|first $}:
- any:
  - changed-files:
    - any-glob-to-any-file: ['**']
- base_branch: '{$ branch|first $}'
{% endfor %}

documentation:
- any:
  - changed-files:
    - any-glob-to-any-file: ['docs/**']

infrastructure:
- any:
  - changed-files:
    - any-glob-to-any-file: ['.github/**', 'dockerfile/**']
